doctype html
html
  head
    style.
      body {
        font-family: monospace;
      }

      table th, table td {
        text-align: left;
        padding: 2px;
      }

      th.frame,
      td.frame {
        //- width: 1em;
        text-align: center;
      }

      td.frame div {
        display: none;
      }

      td.frame:hover div {
        display: block;
      }

      tr {
        border-bottom: 1px solid #ccc;
      }

      .HTTP2_SESSION_SEND_HEADERS {
        background-color: cadetblue;
      }

      .HTTP2_SESSION_RECV_HEADERS {
        background-color: aqua;
      }

      .HTTP2_SESSION_RECV_DATA {
        background-color: gold;
      }

      .HTTP2_SESSION_RECV_PUSH_PROMISE {
        background-color: rebeccapurple;
        color: white;
      }

      .HTTP2_STREAM_ADOPTED_PUSH_STREAM {
        background-color: magenta;
      }

      .OTHER {
        background-color: darkgray;
      }
      
  body
    table
      tbody
      each m, hdr in markers
        tr
          th(class=hdr)= m
          td= hdr

    table
      thead
        tr
          th Stream ID
          th Path
          - var n = 0
          while n < data.entries
            th.frame= data.interval * n++
      tbody
        each stream, streamId in data.streams
          tr
            td= streamId
            td= stream.path
            each events, time in stream.events
              td.frame
                each evt in events
                  span(class=evt.e)= markers[evt.e] || markers.OTHER
